POSTGRES_DB=tasksolverdb
POSTGRES_USER=tasksolveruser
POSTGRES_PASSWORD=supersecurepassword

JWT_KEY=Throughout_Heaven_and_Earth_I_alone_am_the_honored_one
JWT_ISSUER=http://localhost:5000
JWT_AUDIENCE=http://localhost:5173

EMAIL_HOST=
EMAIL_PORT=
EMAIL_SENDER=
EMAIL_NAME=
EMAIL_LOGIN=
EMAIL_PASSWORD=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

MISTRAL_API_KEY=
